<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    {% block stylesheets %}
    {% include "main-css.html.twig" %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('iconeconnect+.ico') }}" />
</head>

<body class="bodyConnectPlus">
    <div class="container-fluid">
        {% include 'default/navbar.html.twig' %}
        {% block body %}
        
        {% endblock %}
        {% include 'default/footer.html.twig' %}
    </div>
</body>
{% block javascripts %}
{% include "main-js.html.twig" %}
{% endblock %}
</html>