<section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>les meilleurs jeux du moment</h2>
                    <span>Venez vous amuser.</span>
                    <!-- <div class="blue-button">
                        <a class="scrollTo" data-scrollto="popular" href="#">Discover More</a>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</section>