
<section class="contact" id="contact">
    <div id="map">
        <!-- How to change your own map point
               1. Go to Google Maps
               2. Click on your location point
               3. Click "Share" and choose "Embed map" tab
               4. Copy only URL and paste it within the src="" field below
        -->

        <iframe width="100%" height="500px"  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJk_6izMA_CiIRtj5-sXIofCM&key=AIzaSyDaz0N6XhsbdS4DkR0I1Jsgx3KcpNzsO7M" allowfullscreen></iframe>
    </div>
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="wrapper">
                <div class="section-heading">
                    <h2>Contactez-Nous</h2>
                    <span>Réservez vos sessions de jeux</span>
                </div>
                <!-- Modal button -->
                <button id="modBtn" class="modal-btn">Contact</button>
            </div>
            <div id="modal" class="modal">
                <!-- Modal Content -->
              {% include 'default/modal.html.twig' %}
            </div>
        </div>
    </div>
</section>