<section class="popular-places" id="popular">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Tous les jeux</span>
                    <h2>Integer sapien odio</h2>
                </div>
            </div>
        </div>
        <div class="owl-carousel owl-theme">
            {% for game in games  %}
            <div class="item popular-item">
                <div class="thumb">
                    <img src="upload/{{game.imageName}}" height="150" alt="">
                    <div class="text-content">
                        <h4>{{game.name}}</h4>
                        <span>{{game.typegame}}</span>
                    </div>
                    <div class="plus-button">
                        <a href="#"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            {%endfor%}

        </div>
    </div>
</section>