<div class="wrap">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button" class="">Menu</button>
                    <a href="index.html">
                        <div class="logo">
                            <!-- <img src="connect+.jpg" width="10"  alt="connect+ Logo"> -->
                        </div>
                    </a>
                    <nav id="primary-nav" class="dropdown cf">                       
                        <ul class="dropdown menu">
                            <li class="active"><a href="#">Tous les jeux</a></li>
                            <li class=""><a href="#">Categories</a>
                                <ul class="sub-menu">
                                    <li><a href="#">type de jeux</a>

                                    </li>

                                </ul>
                            </li>

                            <li><a class="scrollTo" data-scrollto="contact" href="#">Contact</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>