<div class="wrap">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button" class="">Menu</button>                
                    <nav id="primary-nav" class="dropdown cf"> 
                        <a href="#primary-nav"  class="scrollTo" data-scrollto="top">
                            <div class="logo">
                                <img src="{{asset('connect+.jpg')}}" width="10" height="100"  alt="connect+ Logo">
                                <span>Connect+</span>
                            </div>
                        </a>                      
                        <ul class="dropdown menu">
                            <li class="active"><a href="#" class="scrollTo" data-scrollto="services">Nos services</a></li>
                            <li class="active"><a  class="scrollTo" data-scrollto="popular" href="#">Jeux</a></li>
                            <li><a class="scrollTo" data-scrollto="contact" href="#">Contact</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>
                      
