h2, h1{
    text-align: center;
}

.dernierjeux {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}

.carousel{
    margin: auto;
    width: 50%;
    margin-top: 15px;
}

.navbar, .dropdown-menu{
    background-color: #37769e;
}


.navbar-brand{

    margin-left: 10px;
}
.card:hover .card-img-top{
    opacity: 0.5;
}

.card:hover{
    box-shadow: #0c5460 4px 4px 2px;
}


.reservationForm{
    width: 50%;
    margin: auto;

}
hr{
    margin-bottom: 60px;
    margin-top: 60px;
}

.card-text{
    overflow: auto;
    height: 200px;
}

.modalform{
    margin-left: 50%;

}

.card-title{
    background-color: gray;
}

.navbar-brand, .dropdown-toggle{
    color: white;
}

.navbar-brand:hover{
    background-color: whitesmoke;
}

.dropdown-toggle:hover{
    background-color: whitesmoke;
}