h2, h1{
    text-align: center;
}

.dernierjeux {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}

.carousel{
    margin: auto;
    width: 50%;
    margin-top: 15px;
}

.navbar{
    background-color: #37769e;
}

.navbar-brand{

    margin-left: 10px;
}
.card:hover{
    opacity: 0.5;
}


.reservationForm{
    width: 50%;
    margin: auto;

}