#header .logo img {
    width: 10%;
    overflow: hidden;
    height: 76px;
}

#header{
    height: 76px;
}

.logo{
    width: 69%;
    height: 85px;
    color:black;
}

nav{
    height: 76px;
    background-color: white;
    z-index: 1000;
    position: fixed !important;
    box-shadow: 10px 5px 5px gray;
}

#primary-nav li > .hourService:hover{
    color: #5a764d !important ;
}

#primary-nav li > .HourGame:hover{
    color: #5788aa  !important;
}

#primary-nav li > .ContactUs:hover{
    color: #8b474c  !important;
}

