#header .logo img {
    width: 10%;
    overflow: hidden;
    height: 76px;
}

#header{
    height: 76px;
}

.logo{
    width: 69%;
    height: 85px;
    color:black;
}

nav{
    height: 76px;
    background-color: white;
    z-index: 1000;
    position: fixed !important;
}