<h2 class="titleFooter">Localisation</h2>
<footer class="footer">

  <iframe class="map" width="100%" height="400px" frameBorder="0"
  allowfullscreen src="https://umap.openstreetmap.fr/fr/map/connect-localisation_257368?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false">
</iframe>
<ul class="contactFooter">

<p> <i class="fas fa-phone fa-2x"></i> {{ phoneNumber }} </p>
<p> <a class="facebookLink" href="https://www.facebook.com/Connect--238069869934809/" target="_blank"> <i class="fab fa-facebook fa-3x"></i></a> </p>

</ul>
</footer>
